* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Work-Sans', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background: #121b25;
}

section {
    padding: 80px 6% 70px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3.5rem;
    background: #1a242f;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer-content img{
    width: 30%;
    margin-bottom: 10px;
}

.footer-content h4{
color: #fff;
margin-bottom: 1.5rem;
font-size: 20px;
}

.footer-content li{
    margin-bottom: 16px;
}

.footer-content li a {
    display: block;
    color: #d6d6d6;
    font-size: 15px;
    font-weight: 400;
    transition: all .40s ease;
}

.footer-content li a:hover {
    transform: translate(-3px) translateX(-5px);
    color: #fff;
}

.footer-content p{
    color: #d6d6d6;
    font-size: 16px;
    line-height: 30px;
    margin: 10px 0;
}

.icons a{
    display: inline-block;
    font-size: 22px;
    color: #d6d6d6;
    margin-right: 17px;
    transition: all .40s ease;
}

.icons a:hover{
    color: #fff;
    transform: translateY(-5px);
}

@media (max-width:1690px) {
    section{
        padding: 50px 5% 40px;
    }
}

@media (max-width:1120px) {
    .footer{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
        gap: 2rem;
    }
}

@media (max-width:700px){
    .footer{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, auto));
        gap: 2.5rem;
    }
}